/* global css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #001427;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

p {
    padding: 1rem 0rem;
}

.title-page {
    display: flex;
    justify-content: space-around;
}

/* index specific css */
#title {
    font-family: 'Spline Sans', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    margin: 8rem 0rem;
    color: #f9b9c3;
}

#guess-title {
    font-family: 'Spline Sans', sans-serif;
    color: #708d81;
    font-size: 2.8rem;
    text-align: center;
    margin: 2rem 0rem;    
}

#play-game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    width: 12rem;
    height: 2.6rem;
    background-color: #F4D58D;
}

/* rules page specific css */
#game-rules-title {
    margin: 5rem;
    font-family: 'Spline Sans', sans-serif;
    font-size: 2rem;
    color:#f9b9c3;
}

#game-rules-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 30rem;
    padding: 0rem 2rem;
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color:#708D81;
}

#start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    width: 12rem;
    height: 2.6rem;
    margin: 2rem;
    background-color: #F4D58D;
}

/* game specific css */

/* container of keyboard buttons + restart buttons */
.game-layout-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.word {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blank-squares {
    margin: 0.2rem;
    padding: 2.2rem 2rem;
    background-color: #F4D58D;
    font-size: 2rem;
}

/* container of the keyboard */
.keyboard-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

@media(min-width: 600px) {
.keyboard-input {
    max-width: 30rem;
}
}

/* keyboard line break */
.break {
    flex-basis: 100%;
    height: 0.2rem;
}

/* keyboard button class */
.keyboard-letter {
    padding: 0.1rem;
}

.keyboardButtonClass {
    display: flex;
    font-size: 1.4rem;
    font-family: 'Baloo 2', cursive;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #708D81;
}

@media (min-width: 600px) {
.keyboardButtonClass {
    font-size: 2rem;
    width: 2.6rem !important;
    height: 2.6rem !important;
}
}

.image-cat {
    margin: 3rem 1rem 0rem 1rem;
}

.image-win-lose {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

#image-win {
    max-width: 30rem;
    max-height: 30rem;
}

#image-lose {
    max-width: 30rem;
    max-height: 30rem;
}

#image-cat-counter {
    max-width: 20rem;
    max-height: 20rem;
}

@media (min-width: 600px) {
    #image-cat-counter {
    max-width: 30rem;
    max-height: 30rem;
}
}

#restart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0.2rem 1rem;
    margin: 1rem 1rem 1rem 0rem;
    max-width: 6rem;
    max-height: 3rem;
    background-color: #F4D58D;
}

/* win page css */

#play-again-button {
    margin: 2rem;
    font-size: 1.8rem;
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #F4D58D;
}